<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="<%= BASE_URL %>home/assets/img/favicon.ico">
  <link rel="apple-touch-icon" href="<%= BASE_URL %>home/assets/img/apple-touch-icon-iphone-60x60.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= BASE_URL %>home/assets/img/apple-touch-icon-ipad-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>home/assets/img/apple-touch-icon-iphone-retina-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= BASE_URL %>home/assets/img/apple-touch-icon-ipad-retina-152x152.png">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="<%= BASE_URL %>home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<%= BASE_URL %>home/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="<%= BASE_URL %>home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="<%= BASE_URL %>home/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="<%= BASE_URL %>home/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="<%= BASE_URL %>home/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="<%= BASE_URL %>home/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="<%= BASE_URL %>home/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  
  <div id="app"></div>

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="<%= BASE_URL %>home/assets/vendor/jquery/jquery.min.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/php-email-form/validate.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/counterup/counterup.min.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="<%= BASE_URL %>home/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="<%= BASE_URL %>home/assets/js/main.js"></script>

</body>

</html>