<template>
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <router-link  :to="{name:'CardMenu'}" class="nav-link">
            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
            Inicio
          </router-link>
          <div class="sb-sidenav-menu-heading">Test</div>
          <router-link  :to="{name:'PacientesList'}" class="nav-link">
            <div class="sb-nav-link-icon"><i class="fas fa-user-injured"></i></div>
            Pacientes
          </router-link>
          <router-link :to="{name:'GruposList'}" class="nav-link">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            Grupos
          </router-link>
          <div class="sb-sidenav-menu-heading">Configuración</div>
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
            Config
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
              <router-link :to="{name: 'Preguntas'}" class="nav-link">Preguntas</router-link>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>

export default {
  name: 'AsideMenu',
  components: {

  },
  data(){
    return{

    }
  },
  computed:{

  },
  mounted(){
  
  },
  methods:{
 
    
  }
}
</script>

<style>

</style>
