<template>
  <div class="container" style="margin-top: 8em">
   
  </div>
</template>

<script>

export default {
  name: '',
  props:{
    
  },
  components: {

  },
  data(){
    return{

    }
  },
  computed:{
  
  },
  mounted(){

  },
  methods:{
    
  }
}
</script>

<style lang="scss">

</style>
