// Global styling for this template

html,
body {
  height: 100%;
}
body div.admin{
	background-color: #17202A;
}
.bg-dark{
  background-color: #273746 !important;
}
.sb-sidenav-dark, .bg-box-dark, .card-dark{
  background-color: #212F3D !important;
}
.bg-box-dark, .card-dark{
  color: white;
}
.card-transparent{
	background: transparent;
    box-shadow: unset !important;
}
.form-control-dark{
	background: transparent;
    color: white;
    border-radius: 0;
}
.btn-primary{
	border-radius: 0;
    background: #4CAF50;
    border: none;
    &:hover{
    	background: #558B2F;

    }
}
// Set spacing on containers for page symmetry

.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}
