<script>
import { Bar } from 'vue-chartjs'
import { mapState } from 'vuex'
import { calculosGrupales } from '../../mixins/calculosGrupales.js'
export default {
  props:{
    ragosDePacientes:{
      type: Array,
      require: true
    }
  },
  mixins:[calculosGrupales],
  extends: Bar,
  data: () => ({
    
  }),
  computed:{
    ...mapState('Test',['rasgosTipos','backgrounds']),
    rasgosCalculo(){
      var data = []
      var datos = {}
      var rasgos = []
      var paciente
      this.rasgosTipos.forEach((rt)=>{
        this.ragosDePacientes.forEach((e)=>{
          if (e != undefined) {
            datos = {
              rasgo: rt,
              datos: this.filtroRasgo(e, rt)
            }
            data.push(datos)
          }
        })
      })
      for (var i = 0; i < data.length; i++) {
          paciente = data[i];
          var rasgoAct;
          var rasgo = {};
          if (rasgoAct !== paciente.rasgo) {
              rasgoAct = paciente.rasgo;
              rasgo.nombre = rasgoAct;
              rasgo.datos = data.filter(paciente => paciente.rasgo === rasgoAct)
              rasgos.push(rasgo);
          }
      }
      rasgos.map((rs)=>{
        var rsatos = [] 
        rs.datos.forEach((rd)=>{
          rsatos.push(rd.datos)
        })
        rs.datos = rsatos
        // rs.datosUnidos = rsatos.flat()
        rs.numero = Math.round((this.conteoVerdaderos(rsatos.flat())*100)/rsatos.flat().length)
      })

      return rasgos
    },
    chartdata() {
      var data = []
      this.rasgosCalculo.filter((rc)=>{
        data.push({
          label: rc.nombre,
          data:[rc.numero]
        })
      })
      data.map((dt,i)=>{
        this.backgrounds.filter((bg)=>{
          if (bg.id == i) {
            dt.backgroundColor = bg.color
          }
        })
      })
      return {
        labels: ['Rasgos del Caracter'],
        datasets: data
      }
    },
    options() {
      return{
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              max: 100
            }
          }]
        }
      }
    }
  },
  mounted () {
    // console.log(this.rasgosCalculo)
    this.renderChart(this.chartdata, this.options)
  },
  methods:{
    
  }
}
</script>

<style>

</style>