<template>
  <div class=" row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3" v-for="(i, key) in 6" :key="key" >
      <div class="course-item">
        <img src="home/assets/img/course-1.jpg" class="img-fluid" alt="...">
        <div class="course-content">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4>Web Development</h4>
            <p class="price">$169</p>
          </div>

          <h3><a href="course-details.html">Website Design</a></h3>
          <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
          <div class="trainer d-flex justify-content-between align-items-center">
            <div class="trainer-profile d-flex align-items-center">
              <img src="home/assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
              <span>Antonio</span>
            </div>
            <div class="trainer-rank d-flex align-items-center">
              <i class="bx bx-user"></i>&nbsp;50
              &nbsp;&nbsp;
              <i class="bx bx-heart"></i>&nbsp;65
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End Course Item-->
  </div>

</template>

<script>

export default {
  name: 'CursosComponent',
  components: {

  },
  data(){
    return{
    }
  },
  computed:{
  },
  mounted(){
  },
  methods:{   
  }
}
</script>

<style lang="scss">

</style>
