<template>
  <div class="admin" style="min-height: 100vh">
    
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex">
        <a class="navbar-brand" href="index.html">Logo</a>
        <!-- <button class="  btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button> -->
        <!-- Navbar Search-->
        <!-- <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form> -->
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <!-- <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div> -->
                    <button type="button" class="dropdown-item" @click="logOut">Cerrar Sesión</button>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
      <AsideMenu></AsideMenu>
      <div id="layoutSidenav_content">
        <main>
          <router-view/>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import { auth } from '../../main.js'
import AsideMenu from './menu/AsideMenu.vue'
import { database } from '../../mixins/database.js'
export default {
  name: 'Admin',
  mixins:[database],
  components: {
    AsideMenu
  },
  data(){
    return{
      email: null
    }
  },
  computed:{
  },
  mounted(){
    this.user()
    this.get()
  },
  methods:{
    logOut() {
      auth.signOut().then( () => {
        this.$router.replace('/login')
      })
    },
    user(){
      auth.onAuthStateChanged((user) => {
        if (user) {
          this.email = user.email
        }
      })
    },
  }
}
</script>

<style>

</style>
